@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-bg-color: #1c1c1a;
  --ligth-dark-bg-color: #343433;
  --gray-color: #484c58;
  --brown-color: #5d2a02;
  --red-color: #f15c22;
  --orange-color: #ffca0c;
  --white-color: #efe9d9;
  --ligth-brown-color: #a1544a;
}

body {
  font-family: 'Roboto Slab', serif;
}

/* .main-container {
  width: 100%;
  margin: 0 auto;
} */

.content-wrapper {
  width: 100%;

  display: block;
}
